#p1-roll {
  font-size: 25px;
}

#p2-roll {
  font-size: 25px;
}

h2{
  text-align: center;
}

h6{
  text-align: center;
}

#p1-turn-tally{
  font-size: 25px;
}

#p2-turn-tally{
  font-size: 25px;
}

#p1-total-score{
  font-size: 25px;
}

#p2-total-score{
  font-size: 25px;
}